.body {
    background-color: #00072D;
    color: #fff;

    a {
        color: #fff;
    }
}

header {
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;

    p {
        cursor: pointer;
        font-size: 3rem;
        margin: 0;
    }

    [logo-name] {
        font-family: 'Agustina';
    }

    ul {
        display: flex;
        list-style-type: none;
        padding: 0;

        li {
            margin: 0;

            a {
                text-decoration: none;
                font-size: 1.5rem;
                font-weight: 700;
                padding: .6rem 1rem;
            }

            dl {
                align-items: center;
                display: flex;

                .active {
                    color: aquamarine;
                }
            }
        }
    }
}

section {
    width: clamp(100px, 100%, 1400px);
    margin: auto;
}

.greeting-main {
    display: flex;
    align-items: center;

    .greeting-image,
    .greeting-text {
        width: 50%;
    }

    svg {

        path,
        rect {
            transition: fill 500ms ease-in;
        }
    }

    h1 {
        font-size: 2rem;
    }

    p {
        font-size: 1.5rem;
        text-align: justify;
    }
}

.social-row {
    gap: 10px;
    display: flex;

    a {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 25px;
        transition: box-shadow 1s, transform .2s, background 1s;
    }

    a:nth-child(1) {
        background-color: #181717
    }

    a:nth-child(2) {
        background-color: #0077b5
    }

    :nth-child(3) {
        background-color: #d14836;
    }

    :nth-child(4) {
        background-color: black;
    }

    :nth-child(5) {
        background-color: #0866FF;
    }

    :nth-child(6) {
        background: linear-gradient(0deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
    }

    a:hover {
        background-color: #00072D;
        box-shadow: 0 0 20q;
        transform: scale(1.1);
    }

}

a {
    border-radius: 50%;

    i {
        font-size: 2rem;
        color: #fff;
    }
}

@media screen and (max-width: 800px) {
    header {
        p {
            font-size: 1rem;
        }

        ul li a {
            font-size: 0.8rem;
            padding: 5px 10px;
        }
    }
}